.play-btn {
  width: 30px;

  img {
    width: 100%;
  }
}

.player-wrapper {
  width: 70%;
  background-color: #ffffff80;
  border-radius: 10px;

  .audio-range-duration{
    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px;
  background-color: #ffffff80;
  cursor: pointer; /* Cursor on hover */
  }
  

  .audio-range-duration::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 5px; /* Set a specific slider handle width */
    height: 5px; /* Slider handle height */
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer; /* Cursor on hover */
  }
}